/* Here comes your own styling */


.region-box {
    margin:1px 1px 1px 1px;

}

.container {
    padding: 0px;

}


.oblast:hover {
    opacity: 34%;
}


.region-ads {

    font-size:13px;


}

.region {
    font-size:15px;
}

.items:not(.selectize-input) .item.call-to-action .wrapper .title {
    color: #67d4ff;
}

/*.items.grid.grid-xl-3-items .item, .items.masonry.grid-xl-3-items .item {*/
/*    width: 250px;*/
/*    height: 250px;*/


/*}*/

.button-ads-info {
    margin-bottom:10px;
}
.button-favorite {
    background-color:#C11B66;
}

.author-info {
    border:1px solid gray;
    border-radius: 3px;
}
h1, h2, h3 {
    font-weight: 500;
}


.section--login {
    background-color: #fff;
}
.login {
    padding: 200px 0;
}
.login .nav-tabs .nav-item {
    width: 50%;
}
.login .nav-tabs {
    border-bottom: 1px solid #00BFFB;
}
.nav-tabs {
    border-bottom: 1px solid #00BFFB;
}
.login .nav-tabs .nav-item .nav-link {
    text-align: center;
}
.login .nav-tabs .nav-item .nav-link.active {
    border: none;
    border-bottom: 4px solid #00BFFB;
}
.nav-tabs .nav-item .nav-link.active {
    border: none;
    border-bottom: 4px solid #00BFFB;
    color: #000;
    font-weight: 700;
}
.white-wrap,
.login-wrap {
    padding: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.34);
    background-color: #fff;
}
.login-wrap img {
    max-width: 100%;
}
.nice-subheader span {
    position: relative;
    display: inline-block;
}
.nice-subheader span:after,
.nice-subheader span:before {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #212529;
    top: 11px;
    width: 150px;
}
.nice-subheader span:before {
    right: 0;
    margin-right: 30px;
}
.nice-subheader span:after {
    left: 0;
    margin-left: 30px;
}
.section--listing {
    padding: 50px 0;
}
.section--listing .alternative-search-form {
    padding: 0 3rem;
}
.collapse-mainform {
    padding-top: 50px;
}
.collapse-mainform  .geo-location.input-group-addon {
    height: 5.3rem !important;
}
.listing-wrap {
    padding: 100px 0;
}
.category {
    color: #212529;
    position: absolute;
    left: 22rem;
    top: 5.5rem;
}
.item--custom .location {
    top: 7.5rem !important;
}
.item--custom .author-date {
    position: absolute;
    bottom: 5px;
    left: 22rem;
}
.swap-options {
    position: absolute;
    left: 22rem;
    top: 10rem;
    right: 0;
}

.swap-options .form-group {
    position: absolute;
    right: 1rem;
    top: 0;
}
.swap-options .framed.active {
    background-color: #00BFFB;
    color: #fff;
}
.swap-options .framed {
    color: #212529;
}
.swap-options .iradio.checked {
    box-shadow: inset 0 0 0 .6rem #ffffff;
}
.swap-options .iradio {
    background-color: #00BFFB !important;
}
.swap-price {
    background-color: #e5e5e5;
    font-size: 1.6rem;
    font-weight: 600;
    padding: .5rem 1.8rem;
    border-radius: .3rem;
    display: inline-block;
}
.item--custom .author-date .avatar img {
    width: 35px;
    border-radius: 50%;
}
.item--custom .author-date span {
    display: inline-block;
}
.item--custom .author-date .review {
    padding-top: 5px;
    font-size: 8px;
    line-height: 8px;
}
.item--custom .author-date .date {
    margin-left: 10px;
}
.item--custom .wrapper {
    min-height: 21rem !important;
}

/*#offer-1,*/
/*#offer-2 {*/
/*    display: none;*/
/*}*/
.section--swap-offer {
    padding: 100px 0;
    background-color: #fff;
}
.section--swap-offer h1 {
    margin-bottom: 50px;
}
.framed.active,
.section--swap-offer .framed.active {
    color: #fff;
    background-color: #00BFFB !important;
}
.iradio.checked,
.section--swap-offer .iradio.checked {
    box-shadow: inset 0 0 0 .6rem #fff !important;
    background-color: #00BFFB !important;
}
.items-for-swap {
    display: block;
    min-height: 140px;
    padding: 0;
    margin: 0;
}
.items-for-swap li {
    width: 25%;
    float: left;
    display: inline-block;
    padding: 0 5px;
    overflow: hidden;
    position: relative;
    height: 130px;
}
.items-for-swap li.active {
    position: relative;
}
.items-for-swap li.active:after {
    content: "\f00c";
    font-family: FontAwesome;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 191, 251, 0.8);
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.items-for-swap li img {
    max-width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    left: 5px;
    margin: auto;
    width: 100%;
}
.featured-box--home figure {
    background-color: #fff;
}
.featured-box--home figure img {
    height: 5rem;
}

.ribbon {
    position: absolute;
    left: 9px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#FF0000 0%, #ff0000 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #ff0000;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff0000;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #ff0000;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff0000;
}
.section--edit-ad {
    padding: 0;
}
.item--history .location {
    top: 5rem !important;
}
.item--history .description {
    bottom: 7.4rem !important;
}
.item--history .author {
    margin-left: 20px;
}
.item--history .author-date {
    bottom: 15px;
}
.notification-box {
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    padding: 1px 10px;
    border-radius: 14px;
    margin-left: 5px;
}
.search #search-addon {
    bottom: 1.4rem;
}
.framed.active {
    background-color: #00BFFB;
    color: #fff;
}
.framed {
    color: #212529;
}
.iradio.checked {
    box-shadow: inset 0 0 0 .6rem #ffffff;
}
.w100 {
    width: 100%;
}
.single-ad--author .author-description h3 {
    margin-bottom: 0;
}
.rating i.active {
    color: #f2c53a;
}
.single-ad--author {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.related-ads {
    padding: 50px 0;
}
.related-carousel  {
    position: relative;
}
.related-ads .owl-prev,
.related-ads .owl-next {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #00bffb;
    text-align: center;
    top: 100px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.34);
}
.related-ads .owl-prev {
    left: -15px;
}
.related-ads .owl-next {
    right: -15px;
}
.related-ads .ad-name,
.related-ads .ad-price {
    padding: 10px;
}
.related-ads .ad-name h3 {
    margin-bottom: 0;
    position: relative;
}
.related-ads .ad-name h3:after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #67d4ff;
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
}
.section-single {
    background-color: #fff;
}
.related-ad {
    background-color: #f8f8f8;
}
.image-2 {
    left: 330px;
}
.price-2 {
    left: 350px !important;
}
.swap-icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 245px;
    width: 40px;
    height: 40px;
    background-color: #81d262;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.item .btns-wrap {
    position: absolute;
    right: 10px;
    top: 50px;
}
.item .btns-wrap a {
    display: block;
    width: 130px;
    text-align: center;
    height: 36px;
    line-height: 36px !important;
    padding: 0 !important;
    margin-bottom: 10px;
}
.item .btns-wrap .btn-green {
    border-color: #81d262 !important;
}
.item .btns-wrap .btn-details {
    background-color: transparent !important;
    color: #67d4ff;
}
.conversations-section {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.conversations-section .comment {
    padding: 20px;
}
.conversations-section .comment {
    padding: 20px;
}
.conversations-section .comment:nth-child(even) {
    background-color: #f8f8f8;
}
.conversations {
    background-color: #e5e5e5;
    padding: 10px 20px;
}
.conversations-section .comments .comment {
    margin-bottom: 0;
}
.conversations-section .comments .comment .author .author-description {
    border: none !important;
}
.timeline {
    position: relative;
    padding: 50px 0;
}
.timeline:before{
    content: '';
    position: absolute;
    height: 5px;
    display: block;
    width: 100%;
    background-color: #d0d0d0;
    top: 63px;
    z-index: -1;
}
.timeline li {
    display: inline-block;
    width: 25%;
    text-align: center;
    float: left;
}
.timeline li .icon {
    display: block;
    margin-bottom: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    background-color: #81d262;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.rating {
    margin-bottom: .5rem;
}
.rating i {
    font-size: 1rem;
    opacity: .4;
    padding: 0 .1rem;
    color: #00bffb;
}
i.activee {
    color: #ff0000; !important;
}
